@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark light;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in-from-right {
  animation: slideInFromRight 1s forwards;
}
